---
layout: base
---
<!-- HEADER -->
  <div class="graphic"
    <header>
      <div class="intro">
      <h1>Graphic Design</h2>
      <h2>Bitya A.</h2>
      </div>
    </header>
  </div>
<main class="main">
  {{ content | safe }}
</main>